.slider__nav-box {
    display: flex;
    justify-content: end;
    gap: 16px;
    margin-top: -44px;
    padding-inline: 15px;
}

.slider__button-nav {
    display: flex;
    align-items: center;
}

.slider__button-nav--next {
    rotate: -180deg;
}

.slider__button-nav:hover svg path {
    fill: var(--nav-arrow-hover-color);
}

.slider__button-nav-disabled:hover svg path {
    fill: #D1CECE;
}

.slider__button-nav--prev.disabled,
.slider__button-nav--next.disabled {
    opacity: 0.5;
    cursor: default;
}

.slider__button-nav--prev.disabled:hover path,
.slider__button-nav--next.disabled:hover path {
    fill: #D1CECE;
}