.reviews__image-box {
    position: relative;
    width: 459px;
    height: 492px;
}

.reviews__image {
    width: 100%;
    height: 100%;
}

.reviews__image-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -105px;
    z-index: -1;
    width: 492px;
    height: 492px;
    border-radius: 50%;
    opacity: 0;
    background-color: var(--accent-color-dark);
    transition: opacity 0.5s;
}

.reviews__image-box.animate-circle::before {
    animation: grow 2s ease-out forwards;
}