.furniture__content-types-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 33px;
    column-gap: 30px;
    padding: 30px 0 22px;
}

.category-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1.5px solid var(--border-color);
    padding-inline: 65px;
    text-transform: capitalize;
    transition: color 0.3s, background-color 0.3s;
}

.category-button-active {
    color: var(--bg-color);
    background-color: var(--accent-color);
}

.category-button-active svg path {
    fill: var(--bg-color);
}

.category-button:hover {
    color: var(--bg-color);
    background-color: var(--accent-color);
}

.category-button:hover svg path {
    fill: var(--bg-color);
}