.socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}

.socials__title {
    color: var(--bg-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 26px;
}

.socials__buttons-box {
    display: flex;
    gap: 15px;
}

.socials__button {
    transition: transform 0.3s ease;
}
.socials__button:hover {
    transform: scale(1.3);
}