/*---------- DM Sans ----------*/
@font-face {
    font-family: 'DM Sans';
    src: local('DM Sans Regular'), local('DMSans-Regular'),
        url('DMSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: local('DM Sans Medium'), local('DMSans-Medium'),
        url('DMSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: local('DM Sans Bold'), local('DMSans-Bold'),
        url('DMSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*---------- Montserrat ----------*/
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

