.furniture__content-image {
    width: 100%;
}

.furniture__content-image-box {
    position: relative;
    width: 553px;
    height: 389px;
}

.furniture__content-image-box::after {
    content: '';
    position: absolute;
    right: -12px;
    bottom: -11px;
    z-index: -1;
    width: 190px;
    height: 86px;
    border-right: 12px solid var(--accent-color);
    border-bottom: 12px solid var(--accent-color);
    opacity: 0;
    background-color: transparent;
    transition: opacity 0.1s;
}

.furniture__content-image-box::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -13px;
    z-index: 1;
    width: 190px;
    height: 86px;
    border-top: 12px solid var(--accent-color);
    border-left: 12px solid var(--accent-color);
    opacity: 0;
    background-color: transparent;
    transition: opacity 0.1s;
}


.furniture__content-image-box::after,
.furniture__content-image-box::before {
  animation: none;
}

.furniture__content-image-box.animate-borders::after {
  animation: move-bottom-right 2s ease 1;
  opacity: 1;
}

.furniture__content-image-box.animate-borders::before {
  animation: move-top-left 2s ease 1;
  opacity: 1;
}