.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    padding-block-start: 36px;
    font-family: 'DM Sans', 'Montserrat', sans-serif;
    font-weight: normal;
    inline-size: 1440px;
}