.header__active-buttons-box {
    display: flex;
    gap: 10px;
}

.search-button,
.menu-button {
    display: flex;
    align-items: center;
    padding: 10px;
    outline: 1px solid transparent;
    transition: outline 0.3s ease;
}

.menu-button {
    padding: 0 0 0 10px;
}

.search-button:hover,
.menu-button:hover {
    outline: 1px solid var(--accent-color-dark);
}

.search-button:focus-visible,
.menu-button:focus-visible {
    outline: 3px solid #FFB624;
}