@import url('blocks/header/__logo/header__logo.css');
@import url('blocks/header/__menu/header__menu.css');
@import url('blocks/header/__active-buttons-box/header__active-buttons-box.css');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: 1200px;
}
