@import url('src/styles/blocks/content/__section/reviews/__image-box/review__image-box.css');
@import url('src/styles/blocks/content/__section/reviews/__content/reviews__content.css');
@import url('src/styles/blocks/content/__section/reviews/__author-box/reviews__author-box.css');


.reviews {
    display: flex;
    padding-top: 50px;
    gap: 100px;
    padding-left: 120px;
}