.slider__slides-container {
    padding-top: 80px;
    padding-bottom: 50px;
    padding-inline: 15px;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 15px;
    scrollbar-width: none;
}

